@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a class="emailaddress" href="mailto:ethannorman@outlook.com">ethannorman@outlook.com</a><br />
    
</address>