@{
    ViewBag.Title = "Grimoire";
}



<div class="jumbotron">
    <h1 class="jumbotron-title">My Grimoire</h1>
    <p class="lead">This page contains my knowledge and experiences in the Craft.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Runes</h2>

        <p>Here is a chart of the Norse runes in Elder FUTHARK.</p>
        <div class="rune-chart-container">
            <img class="img-responsive" src="https://i.pinimg.com/originals/d2/65/21/d26521e4b878411ccaf5d172cf26e39c.gif" />
        </div>
        </div>
<div class="col-md-4">
    <h2>The Wiccan Rede</h2>
    <p>These eight words the Rede fulfill:</p>
    <p><strong>"An Ye Harm None, Do What Ye Will"</strong></p>
    </div>
</div>
    
    <div class="row">
        <div class="col-md-4">
            <h3>Create Your Own</h3>
            <table class="table-bordered">
                <tr>
                    <th>Rune</th>
                    <th>Name</th>
                    <th>Meaning</th>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="rune-font"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
