@{
    ViewBag.Title = "Home";
    
}


<div class="jumbotron">
    <h1 class="jumbotron-title">The Sacred Mirror</h1>
    <p class="lead">This is a digital version of a Book of Shadows, a secretive book that contains knowledge and experiences from a person practicing Wicca or Witchcraft.</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#redeModal">
        <strong><span class="glyphicon glyphicon-warning-sign glyphicon-black"></span></strong><strong class="important-button">Important</strong><span class="glyphicon glyphicon-arrow-right arrow-right"></span>
    </button>
    </div>

    <!-- Modal -->
    
    <div class="modal fade" id="redeModal" tabindex="-1" role="dialog" aria-labelledby="redeModalLable" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content content-custom custom-modal">
                
                <div class="modal-header header-custom">
                    <button type="button" class="close close-custom" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title title-custom" id="redeModal">Wiccan Rede:</h5>
                    
                </div>
                <div class="modal-body body-custom">
                    <p>Bide within the law you must, in perfect love and perfect trust. Live you must and let to live, fairly take and fairly give.</p>
                    <p>For thread the circle thrice about to keep unwelcomed spirits out. To bind the spell well every time, let the spell be said in rhyme.</p>
                    <p>Light of eye and soft of touch, speak you little, listen much. Honor the Old Ones in deed and name, let love and light be our guides again.</p>
                    <p>Deosil go by the waxing moon, chanting out the joyful tune. Widdershins go when the moon doth wane, and the Warewolf howls by the dreaded wolfsbane.</p>
                    <p>When the Lady's moon is new, kiss the hand to her times two. When the moon rides at Her peak then your heart's desire will seek.</p>
                    <p>Heed the North winds mighty gale, lock the door and trim the sail. When the wind blows from the East, expect the new and set the feast.</p>
                    <p>When the wind comes from the South, love will kiss you on the mouth. When the wind whispers from the West, all hearts will find peace and rest.</p>
                    <p>...</p>
                    <p></p>




                </div>
                <div class="modal-footer footer-custom">
                    <button type="button" class="btn btn-success agree-button" data-dismiss="modal"><strong><span class="glyphicon glyphicon-thumbs-up glyphicon-black"></span></strong><strong class="agree-button-text">I Agree</strong></button>
                </div>
            </div>
        </div>
    </div>





<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            If you are interested in the Craft, you may want to start by setting up your own journal or Book of Shadows. This will give you an option to document your knowledge and experiences.
        </p>
        <p><a class="btn btn-default" href="http://www.witchipedia.com/howto:how-to-create-your-own-book-of-shadows">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Read Books</h2>
        <p>There are many books about the Craft. You can document information from those books to your Book of Shadows. Reading about the Craft will help you learn about it. </p>
        <p><a class="btn btn-default" href="https://www.thoughtco.com/books-every-wiccan-should-read-2562623
">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>